@{
    ViewData["Title"] = "Omniselo Task";
}

<div class="text-center">
    <h1 class="display-4">Zadanie rekrutacyjne</h1>
    
    <a class="btn" asp-controller="Vegetables" asp-action="Index">Vegetables</a>
</div>
